.containerRequestForm {
  /*display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 280px;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px 0;*/
    

    display: flex;
    flex-direction: column;
    align-items: center;
   /* margin-top: 50px;
    margin-left: 280px;*/
    margin-top: 65px;
    margin-left: 275px;
    
  }
  
.card-bodyRequestForm{
 /* width: 1120px;
  display:flex;
   
  overflow: auto;
  margin-bottom: 30px;
 
 border-radius: 10px;
 /*box-shadow: 1px 1px 5px gainsboro inset;
 text-align: center;*/

height: 450px;
 width: 1220px;
 overflow: auto;
 margin-bottom: 30px;

border-radius: 10px;
/*box-shadow: 1px 1px 5px gainsboro inset;    box-shadow: 1px 1px 5px rgb(208, 207, 207) ;*/
text-align: center;
background-color: white;
 
}


  .formRequestForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
   
    box-shadow: 0 0 40px -10px rgba(0, 0,0, 0.25);
    width: 1360px;
    height: 690px;
    
    position: fixed;
    padding-top: 10px;
    
  }
   
  .formRequestForm label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
  }

.form-group select{
  width: 559px;
  height:60px ;
  margin-bottom: 20px;
  border-radius: 5px;
  font-family: "Times New Roman, Times, serif";
  padding-left: 20px;
  border: 1.5px solid  rgb(197, 217, 224);
  margin-left: 0px;
}
  .buttonRequestForm {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    
  }
  .buttonRequestForm:hover {
    background-color: blue;
  }



  /* time table design */
 .card-bodyRequestForm table {
    border-collapse: collapse;
    width: 100%;
  }
  
  .card-bodyRequestForm table  td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
  }
  
 /* .card-bodyRequestForm table  tr:hover {background-color: white;}*/
  
