.containerEditUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-left: 280px;
    
    
  }
  
.card-bodyEditUsers{
  width: 1250px;
 
  overflow: auto;
  margin-bottom: 30px;
 
 
 box-shadow: 1px 1px 5px gainsboro inset;
 text-align: center;

 
}

  .formEditUsers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
   
    box-shadow: 0 0 40px -10px rgba(0, 0,0, 0.25); 
    width: 1360px;
    height: 699px;
    
    position: fixed;
    padding-top: 10px;
    border: 3px;
    border-color: rgb(3, 109, 148);
    border-style: solid;
    border-bottom-color: white;
    border-right-color: white;
    
    
  }
   
  .formEditUsers label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }


  .buttonEditUsers {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    
  }
  .buttonEditUsers:hover {
    background-color: blue;
  }



  /* time table design   .card-bodyEditUsers table*/
 .card-bodyEditUsers table {
    border-collapse: collapse;
    width: 100%;
  }
  
   .EditTable  td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    border: 1px solid grey;
   
  }
  
  .card-bodyEditUsers table th {
    background-color: rgb(215, 235, 242);
    color: rgb(42, 40, 40);
    border: 2px solid grey;
  }

  .card-bodyEditUsers table  tr:hover {background-color: white;}
  
  .card-bodyEditUsers table  tr:hover
  {background-color: rgb(215, 235, 242);
    }