 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
  }
  
  .form label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .form input[type="date"],
  .form input[type="time"] {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form input[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  .teacher-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .teacher-card {
    width: 300px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
  }
  
  .teacher-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .teacher-card p {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .teacher-card button {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;

    width: 260px;
  }
  
  .teacher-card button:hover {
    background-color: #3e8e41;
  }
  